* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom right, #0a171b, #15242f);
	width: 100%;
	height: 100vh;
	position: relative;
}

#odd-10,#odd-30, #odd-50, #odd-70{
	background: transparent !important;
}

#app {
	/*position: absolute;*/
	/*width: 770px;*/
	/*margin: auto;*/
	/*left: 0;*/
	/*right: 0;*/
	/*top: 0;*/
}

.table {
	display: flex;
	width: 100%;
	height: 70px;
}

.odd {
	width: 70px;
	height: 100%;
	background: transparent;
}

.even {
	width: 70px;
	height: 100%;
	background: rgba(136, 191, 239, 0.8);
}
.freeSeat,
.black,
.white {
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	cursor: pointer;
}

.black-1 {
	margin-left: 80px;
}

.white {
	background: #fff;
}

.black {
	background: #b12f12;
}

.black:hover {
	background: #e2310a;
}

.white {
	background: #786ac3;
}

.white:hover {
	background: #8a7ae4;
}
.checker.active {
	transform: scale(1.1);
}

#table
{
	width:640px;
	height:640px;
	border:1px solid black;
	position: relative;
}

#app {
	width:640px;
	height:640px;
	position: relative;
}

div
{
	width: 80px;
	height: 80px;
	float:left;
}

#checkers {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}