@font-face {
    font-family: 'Intro-Black';
    src: url('../Fonts/Intro-Black.otf') format('otf'),
    url('../Fonts/Intro-Black.ttf') format('truetype'),
    url('../Fonts/Intro-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Intro-BlackAlt';
    src: url('../Fonts/Intro-BlackAlt.otf') format('otf'),
    url('../Fonts/Intro-BlackAlt.ttf') format('truetype'),
    url('../Fonts/Intro-BlackAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Intro-Regular';
    src: url('../Fonts/Intro-Regular.otf') format('otf'),
    url('../Fonts/Intro-Regular.ttf') format('truetype'),
    url('../Fonts/Intro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Intro-BoldAlt';
    src: url('../Fonts/Intro-BoldAlt.otf') format('otf'),
    url('../Fonts/Intro-BoldAlt.ttf') format('truetype'),
    url('../Fonts/Intro-BoldAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro-Bold';
    src: url('../Fonts/Intro-Bold.otf') format('otf'),
    url('../Fonts/Intro-Bold.ttf') format('truetype'),
    url('../Fonts/Intro-Bold.woff') format('woff'),
    url('../Fonts/Intro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
