* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Intro-Black';
}

a {
    text-decoration: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.row {
    display: flex;
}

header {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

header::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(241, 0, 42);
}

.logo {
    width: 203px;
    height: 19px;
    margin-top: 25px;
    margin-right: 30px;
    margin-bottom: 52px;
    background: url('../Images/logo.png') no-repeat;
}

.section {
    padding: 0 30px;
}

.section::before {
    content: '';
    display: block;
    width: 56px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    -webkit-transform: translateX(-8px);
        -ms-transform: translateX(-8px);
            transform: translateX(-8px);
}

section .title {
    padding-top: 25px;
    line-height: 1.1;
    font-size: 27px;
    font-family: 'Intro-BlackAlt';
}

section .title span {
    color: #ea0139;
}

section h5 {
    margin-top: 5px;
    font-size: 12.11px;
    font-family: 'Intro-Regular';
}

.jet {
    position: relative;
    padding-bottom: 80px;
}

.jet::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    width: 189px;
    height: 85px;
    background: url('../Images/jet.png');
}

.description p {
    font-size: 8px;
    font-family: 'Intro-Regular';
}

.description p span {
    color: #ea0139;
    font-family: 'Intro-Black';
    text-transform: uppercase;
}

.cricket_ball {
    width: 116px;
    height: 73px;
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
    background: url('../Images/cricketball.png');
}

.description .row p {
    width: calc(100% - 116px);
}

.description .row {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.jetx {
    position: relative;
    margin-top: 44px;
}

.jetx .description {
    position: relative;
    margin-top: 30px;
}

.jetx::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 27px;
    top: -13px;
    right: 30px;
    background: url('../Images/jetxlogo.png');
}

.jetx .title span {
    color: #fedd10;
}

.plinko_ball {
    content: '';
    position: absolute;
    top: -82px;
    right: -30px;
    width: 96px;
    height: 63px;
    background: url('../Images/plinkoball.png'); 
}

.jetx .description p {
    padding: 0 10px 0 0;
}

.jetx .description .row > p {
    width: calc(100% - 147px);
}

.jetx .description .row > div {
    position: relative;
    width: 50%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.jetx .description .row > div p {
    width: 136px;
}

.jetx .description p span {
    color: black;
    text-transform: none;
}

.jetx .description p {
    font-size: 7.88px;
}

.jetxX {
    color: #fedd10 !important;
}

.jetx_jet {
    width: 147px;
    height: 156px;
    margin-top: 10px;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
    background: url('../Images/jetxjet.png');
}

.jetx .description .row > div p {
    padding: 0 0 0 20px;
}

.jetx .description .row {
    border-bottom: none;
    padding-bottom: 0;
}

.border {
    position: relative;
    height: 72px;
    display: flex;
    margin-top: -58px;
}

.border::before {
    content: '';
    display: block;
    width: calc(100% - 220px);
    height: 100%;
    background: url('../Images/borderleft.png');
}

.border::after {
    content: '';
    display: block;
    width: 220px;
    height: 100%;
    background: url('../Images/borderright.png');
}

.xgames {
    position: relative;
    margin-top: 58px;
}

.button {
    position: absolute;
    width: 116px;
    height: 19px;
    top: -88px;
    background: url('../Images/xgameButton.png');
}

.footballX {
    position: absolute;
    top: -153px;
    right: -15px;
    width: 124px;
    height: 179px;
    background: url('../Images/footballer.png');
}

.xgames .description .row {
    border: none;
}

.xgames .description {
    position: relative;
    padding-top: 38px;
}

.xgames .description .row {
    align-items: center;
}

.fox {
    width: 183px;
    height: 141px;
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
    background: url('../Images/fox.png');
}

.borderTop {
    position: relative;
    height: 72px;
    display: flex;
}

.borderTop::before {
    content: '';
    display: block;
    width: 220px;
    height: 100%;
    background: url('../Images/bordertopright.png');
}

.borderTop::after {
    content: '';
    display: block;
    width: calc(100% - 220px);
    height: 100%;
    background: url('../Images/bordertopleft.png');
}

.link_footballX {
    width: 187px;
    height: 189px;
    -webkit-transform: translateY(-85px);
        -ms-transform: translateY(-85px);
            transform: translateY(-85px);
    background: url('../Images/futballx.png');
}

.link_balloon {
    width: 70px;
    height: 73px;
    background: url('../Images/balloon.png');
}

.link_cappadocia {
    width: 71px;
    height: 74px;
    margin-left: 15px;
    background: url('../Images/cappadocia.png');
}

.link_plinkoX {
    width: 76px;
    height: 74px;
    background: url('../Images/plinko.png');
}

.link_cricketX {
    width: 92px;
    height: 130px;
    pointer-events: none;
    -webkit-transform: translate(-6px, -55px);
        -ms-transform: translate(-6px, -55px);
            transform: translate(-6px, -55px);
    background: url('../Images/cricket.png');
}

.list {
    display: flex;
}

.list-right {
    margin-top: 5px;
}

.list-right div {
    display: flex;
}

.list-right > div:last-child {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
}

footer {
    color: #f2f2f2;
    padding-top: 50px;
    background-color: black;
}

footer h6 {
    font-size: 9px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Intro-BoldAlt";
    color: rgba(242, 242, 242, 0.671);
}

.certifications_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 27px;
    padding-top: 15px;
    margin-bottom: 55px;
    justify-content: center;
}

.certifications_list > p {
    position: relative;
    display: block;
    font-size: 5.4px;
    margin-bottom: 5px;
    padding-right: 8px;
    font-family: 'Intro-Regular';
    color: rgba(242, 242, 242, 0.871);
}

.comming_soon {
    font-size: 5px;
}

.certifications_list > p::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2px;
    height: 2px;
    border-radius: 50px;
    background-color: #ea0139;

}

.partners_list {
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.partners_list a {
    width: 12.5%;
    height: 11px;
    margin-bottom: 10px;
    display: block;
    /* background: url('../Images/partners/1.png') no-repeat; */
}

.partners_list a:nth-child(1) {
    background: url('../Images/partners/1.png') no-repeat center bottom;
}

.partners_list a:nth-child(2) {
    background: url('../Images/partners/2.png') no-repeat center bottom;
}

.partners_list a:nth-child(3) {
    background: url('../Images/partners/3.png') no-repeat center bottom;
}

.partners_list a:nth-child(4) {
    background: url('../Images/partners/4.png') no-repeat center bottom;
}

.partners_list a:nth-child(5) {
    /* background: url('../Images/partners/5.png') no-repeat center bottom; */
}

.partners_list a:nth-child(6) {
    background: url('../Images/partners/5.png') no-repeat center bottom;
}

.partners_list a:nth-child(7) {
    background: url('../Images/partners/6.png') no-repeat center bottom;
}

.partners_list a:nth-child(8) {
    background: url('../Images/partners/7.png') no-repeat center bottom;
}

.partners_list a:nth-child(9) {
    background: url('../Images/partners/8.png') no-repeat center bottom;
}

.partners_list a:nth-child(10) {
    background: url('../Images/partners/9.png') no-repeat center bottom;
}

.partners_list a:nth-child(11) {
    background: url('../Images/partners/10.png') no-repeat center bottom;
}

.partners_list a:nth-child(12) {
    background: url('../Images/partners/11.png') no-repeat center bottom;
}

.partners_list a:nth-child(13) {
    background: url('../Images/partners/12.png') no-repeat center bottom;
}

.partners_list a:nth-child(14) {
    background: url('../Images/partners/13.png') no-repeat center bottom;
}

.partners_list a:nth-child(15) {
    background: url('../Images/partners/14.png') no-repeat center bottom;
}

.partners_list a:nth-child(16) {
    background: url('../Images/partners/15.png') no-repeat center bottom;
}

.partners_list a:nth-child(17) {
    background: url('../Images/partners/16.png') no-repeat center bottom;
}

.partners_list a:nth-child(18) {
    background: url('../Images/partners/17.png') no-repeat center bottom;
}

.partners_list a:nth-child(19) {
    background: url('../Images/partners/18.png') no-repeat center bottom;
}

.partners_list a:nth-child(20) {
    background: url('../Images/partners/19.png') no-repeat center bottom;
}

.partners_list a:nth-child(21) {
    background: url('../Images/partners/20.png') no-repeat center bottom;
}

.partners_list a:nth-child(22) {
    background: url('../Images/partners/21.png') no-repeat center bottom;
}

.partners_list a:nth-child(23) {
    background: url('../Images/partners/22.png') no-repeat center bottom;
}

.partners_list a:nth-child(24) {
    background: url('../Images/partners/23.png') no-repeat center bottom;
}

.partners_list a:nth-child(25) {
    background: url('../Images/partners/24.png') no-repeat center bottom;
}

.partners_list a:nth-child(26) {
    background: url('../Images/partners/25.png') no-repeat center bottom;
}

.partners_list a:nth-child(27) {
    background: url('../Images/partners/26.png') no-repeat center bottom;
}

.partners_list {
    padding-top: 15px;
    padding-bottom: 75px;
}

